<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WhatsUp3.Ui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WhatsUp3.Ui.styles.css" asp-append-version="true" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  /*left: 0;*/
  right: 0;
  background-color: #159;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<style>
    .right {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 0;
    }
</style>

</head>
<body>
    <div class="sidenav" style="text-align:center;width:200px;">
        <a asp-controller="WhatsUp" asp-action="add_Company">إضافة الشركة</a>
        <a asp-controller="WhatsUp" asp-action="Company_settings">ربط الشركة</a>
        <a asp-controller="WhatsUp" asp-action="Company_Disconnected">قطع الاتصال</a>
        <a asp-controller="WhatsUp" asp-action="SendMessage_Page">الرسائل</a>
        <a asp-controller="WhatsUp" asp-action="SendMessageMedia_Page">ارسال ملفات</a>
        <a asp-controller="WhatsUp" asp-action="SendMessageExcel_Page">ارسال Excel</a>
        <a asp-controller="WhatsUp" asp-action="Update_tables">تحديث بيانات</a>
        
        @*<a asp-controller="WhatsUp" asp-action="DeleteMessage_Page">حذف رسالة</a>*@
        @*<a asp-controller="WhatsUp" asp-action="websocketTest">websocketTest</a>*@
    </div>
@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WhatsUp3.Ui</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        @*<input id="rootName" name="rootName" hidden value="62.84.187.79:3000" />*@
        <input id="rootName" name="rootName" hidden value="localhost:3000" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WhatsUp3.Ui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
