/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "cairo";
  background-color: #FEF8E8;
  letter-spacing: 0.25px;

}

/*---------------------------------------------*/

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline;
  color: #39629C;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #39629C;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}


/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

/* ////////////////////////////////// */
nav {
  flex-direction: row-reverse;
}

/* /////////////////////////////////// */
.container-login {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 70vh;

}

.wrap-login {
  direction: ltr;
  width: 55%;
  height: 75%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding:20px; */
  box-shadow: 2px 10px 20px 0.2px rgba(128, 128, 128, 0.78);

}
.companyName{
  text-align: end;
}
.mode-btn{
  margin-right: 1rem;
}
/*------------------------------------------------------------------
[  ]*/

.login-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 350px;
}

.login100-form label{
  font-size: .9rem;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  color: #39629C;
  display: block;
  width: 100%;
  background: transparent;
  height: 50px;
  border: 1px solid #FF9626;
  border-radius: 15px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(162, 186, 246, 0.813);

}

.input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #39629C;
  padding-left: 28px;

}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background: #FF9626;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

.login100-form {
  text-align: end;
  color: #39629C;
  font-weight: 600;
  font-size: small;
}

/* ///////////////////////////// */
footer {
  background-color: #39629C;

}

/*  */
/* Directions */
.navBrand-direction {
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}

/*  */


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  padding: 0px 10px 3px 5px;
  top: 90%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 17px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;

}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;

  color: #c80000;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
/* //////////////////// */
/*------------------------------------------------------------------
[ Responsive ]*/


@media (max-width: 768px) {
  .wrap-login {
    height: 100%; 
    width: 100%; 

   }

  .login-pic {
    /* display: none; */
  }

  .login100-form {
    width: 100%;
    width: 100%; 

  }
}

@media (max-width: 576px) {
  .wrap-login {
    height: 100%; 
    width: 100%; 

   }

}

@media (max-width: 992px) {
  .wrap-login {
    height: 100%; 
    width: 70%; 
    flex-direction: column-reverse;
    gap: 10px;
   }
 

}
@media (min-width :553px) and (max-width: 992px) {
 
   .container-login {
    height: 80vh;
   }

}
@media (max-width: 470px) {
 
  .mainTitle,
  .companyName{
      font-size: 12px;
  }
}
@media (min-height: 1200px) {
 
  .wrap-login{
    width: 50%;
    height: 50%;
  }
}
@media (max-height: 700px) {
 
  .wrap-login{
    height: 100%;
  }
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* footer media */
@media (min-width:320px) and (min-height: 570px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-height: 570px) {
  .container-login {
    height: 100%;
  }

}
