/*======================================================================
//           ==========================  loader ==============================================================================================
//          =====================================================================*/
.main{
  background: #3a3a3aa1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
  }

.container2 {
    display: flex;
}

.dash {
    margin: 0 15px;
    width: 37px;
    height: 10px;
    border-radius: 8px;
    background: #237cb3;
    box-shadow: 0 0 10px 0 #237cb3;
}

.uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
}

.tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(360deg);
    }

    30% {
        transform: rotate(370deg);
    }

    35% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-180deg);
    }

    35% {
        transform: rotate(-190deg);
    }

    40% {
        transform: rotate(-180deg);
    }

    78% {
        transform: rotate(-180deg);
    }

    95% {
        transform: rotate(-360deg);
    }

    98% {
        transform: rotate(-370deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }

    27% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    45% {
        transform: rotate(190deg);
    }

    50% {
        transform: rotate(180deg);
    }

    62% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    80% {
        transform: rotate(370deg);
    }

    85% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }

    38% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-360deg);
    }

    65% {
        transform: rotate(-370deg);
    }

    75% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.logo {
    width: 200px;
}
