body{
  font-family: 'Cairo', 'sans-serif';
} 

nav {
  background-color: rgba(255, 206, 148, 1);
}

.main-carousel-item {
  display: none;
}

.main-carousel-item.active {
  display: block;
}

.btn-secondary {
 
  border-color:rgb(252, 212, 126) ;
  border:1px solid #FF9626;

}

.transparent-card {
  background: transparent;
}

.topbar .dropdown-list .dropdown-header {
  background-image: rgb(248, 176, 88);
}

select {
  width:70%;
  background-color: rgb(255, 253, 253);
  border-radius:  0.35rem;
  border:2px  solid #FF9626;
}
.btn:not(.btn-link){
  color: #000000;
  background-color: white;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn-secondary1{
  width: 100%;
  margin-bottom: 1rem;
}
.btn-secondary{
  width: 95%;
  border-radius: 15px
}
.btn::before:not(.btn-link) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover:not(.btn-link) {
  transform: translateY(-2px);
  box-shadow: 4px 8px 1px 0 rgba(0, 0, 0, 0.2);
  background-color:white;
  color: black;
}

.btn:hover::before {
  opacity: 0.3;
}
/* STYLING BEFORE FOOTER WIDGET */
.before-footer-widget {

  background-image: linear-gradient(2.71deg, #FF9626 64.81%, rgba(255, 150, 38, 0.18) 153.13%);


  font-size: 0;
}
.card-col{
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.card-col:hover {
  transform: translateY(-2px);
  box-shadow: 10px 8px 8px 8px rgba(0, 0, 0, 0.2);

}


.card-col:hover::before {
  opacity: 0.3;
}
.chart-buttons-img{
margin: 1px;
padding-right:10px; 
}

.btn-secondary1{
  box-shadow: 4px 5px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px;

}
.btn-secondary1:hover{
  border: 2px solid #FF9626;

}
.active1{
  border:2px solid #FF9626;
}

.chart-p{
  font-size:.8rem;
  color: #000000;
  font-weight: 400;
  text-align: end;
  font-family: ' sans-serif';
  
  /* font-weight: bold; */
}
.chart-legend{
  line-height: 15px;
  font-size:.8rem;
  color: #000000;
  font-family: ' sans-serif';


}
.car_img{
  flex-direction: row-reverse;
}

#rented_data1:not(.product-data2){
  text-align: end;
  font-family:'sans-serif';

}
.product-data2{
  justify-content: center;
}
#rented_data2{
  text-align: end;
  height: 84px;

}

.img-car-avaliable img{
width: 300px;
}
#rented_data2 ,#not_available_data2 ,#available_data2 p{
  color: #000;
}
#rented_data2 ,#not_available_data2 ,#available_data2 {
  font-family:'sans-serif';

}
#available_data1:not(.product-data2){
  text-align: end;
  font-family:'sans-serif';

}
#not_available_data1:not(.product-data2){
  text-align: end;
  font-family:'sans-serif';

}
#not_available_data2{
  text-align: end;
  height: 84px;
}
#available_data2 p{
 margin-bottom: 0px;
  text-align: center;
  font-size: small;

}
#available_data2 p:hover{
  color: #cc7110;
}
#not_available_data2 p:hover{
  color: #cc7110;
}
#rented_data2 p:hover{
  color: #cc7110;

}
.btn-link{
  color: #000;

}
.btn-link:hover{
  color: unset;
  text-decoration: none;
} 

.maintenance{
  justify-content: space-around;
}
.rented-p{
  margin-bottom: 0px;
}
footer{
  background-color:#FF992E;
  text-align: center;
  width: 100%;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
 justify-content: flex-end;
  gap:3px;
  text-align: end;
}

.legend-item span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  /* border-radius: 50%; */
}
.neonShadow {
  
  box-shadow: 0 0 0 0  rgb(253, 2, 2);
	animation: pulse-red 2s infinite;

}
.anm {
  padding-top: 4px;
  padding-right: 10px;
	animation: jump-shaking 2s infinite;

}
.on-mobile p{
  font-size: small;
    font-weight: bold;
    color: #000000;
    margin-left: 70px;
}
@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}
@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0  rgba(255, 3, 3, 1);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(218, 5, 5, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0  rgba(255, 82, 82, 0);
	}
}

@media (max-width: 375px) {
  
 .extra-small-mobile{
  display: none;
 }
 .chart-buttons-img{
  display: none;

 }
}
@media (max-width: 646px) {
  
  .hide-on-mobile {
    display: none;
  }
  .on-mobile{
    flex-direction: column-reverse;
    padding-top: 16px;
  }
  .on-mobile p{
    margin-left: 0px;
  }
}
@media (max-width: 786px) {
  .col-md-3 .btn{
    font-size: 1rem;
    margin-bottom: 20px;
    width: 200px;
  }
  #rented_data2 p{
    display: inline;
  }
  #rented_data2{
    margin-bottom: 10px;
  }
 
}
@media(max-width:475px){
  #button-on-mobile{
    text-align: center;
  }
}
@media(max-width:988px){
  .btn-secondary1{
    width: 40%;
  }
  select{
    width: 40%;

  }
  .footer-buttons {
    padding-right: 40px;
  }
}
@media(min-width:1300px){
  
  .chart-buttons-img{
    padding-right:0px; 

  }
  #cardBody{
    height: 411px;
   }
}
@media(min-height:990px) 
  {
  #content-wrapper {
    min-height: 10%;
  }
  
  footer {
    width: 100%;
    padding-bottom:240px; 
  }
 
}
@media (min-width: 993px) and (max-width: 1400px) {
  #cardBody{
    height: 343px;
   }
}
@media (min-width: 1100px) and (min-height: 660px) {
 footer{
  position: absolute;
  bottom: 0;
 }
}