body {
  font-family: 'Cairo', 'sans-serif';
  background-color: #fef8e8;
  color: #000000;
  font-size: .875rem;
  letter-spacing: 0.28px;
  font-weight: 400;

}

nav {
    background-color: rgba(255, 206, 148, 1);
    padding: .5rem 1rem !important;
}
/*######################################################## */
.on-mobile{
  text-align: end;
}
/*######################################################## */

.alert {
  color: #fff;
  background-color: #FF992E;
  flex-direction: row-reverse;
  font-size: .7rem;
  font-weight: 500;
  margin-bottom: 0;
  border: 1px solid #4e73df;
  padding: 0.5rem 0.6rem;
}

.dropdown-item-custom {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e3e6f0;
  font-size: .7rem;
  flex-direction: row-reverse;

}

.ended-Docs-Num {
  color: red;
}

.Not-ended-Docs-Num {
  color: #FF992E;
}

#cardBody{
  background-color: rgba(255, 255, 250, 1);
  border: 3px solid #FF9626;
  border-radius: 8px;
}


/* ///////////=======//////////////// */
.mode-btn {
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
  padding-top: 5px;
}

/* ////////////////////////////////////////////////// */

.main-carousel-item {
  display: none;
  height: 100%;
}

.main-carousel-item.active {
  display: block;
  margin: 10px;
}

.pieChart-data {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}

#first-row-of-charts {
  border-bottom: 2px solid #FF9626;
}

.pieChart-col {
  border-left: 2px solid #FF9626;
}

.employee-col {
  border-left: 2px solid #FF9626;
}

.employee-chart-data,
.branch-chart-data {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}

.btn-Pages {

    border-color: rgb(252, 212, 126);
    border: 1px solid #FF9626;
    width: 90%;
    border-radius: 15px;
    --bs-btn-color: #000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #FF9626;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #fffffa;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #FF9626;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #ff9626;
}

.transparent-card {
  background: transparent;
}

.topbar .dropdown-list .dropdown-header {
  background-image: rgb(248, 176, 88);
}
/* ******************************************************************* */
#branchList {
    background-color: rgb(255, 253, 253);
    border-radius: 8px;
    border: 3px solid #FF9626;
    text-align: center;
    width: 80%;
}
.Branch{
  text-align: end;
}
/* ******************************************************************* */


.btn:not(.btn-link) {
  color: #000000;
  background-color: #FFFFFA;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 8px;
padding: .5rem .5rem;
}

.btn-secondary1 {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}



.btn::before:not(.btn-link) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.btn:hover:not(.btn-link) {
  transform: translateY(-2px);
  box-shadow: 4px 8px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
}

.btn:hover::before {
  opacity: 0.3;
}
.employee-row {
  margin-top: 40px;
}
.branch-row{
  margin-top: 40px;

}
/* ///////////////////////////////////////////////////////////////////////// */
/* STYLING BEFORE FOOTER WIDGET */
.before-footer-widget {

  background-image: linear-gradient(2.71deg, #FF9626 64.81%, rgba(255, 150, 38, 0.18) 153.13%);


  font-size: 0;
}

.card-col {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.card-col:hover {
  transform: translateY(-2px);
  box-shadow: 10px 8px 8px 8px rgba(0, 0, 0, 0.2);

}


.card-col:hover::before {
  opacity: 0.3;
}

.chart-buttons-img {
  margin: 1px;
  padding-right: 20px;
  width: 50%;
}

.btn-secondary1 {
  box-shadow: 4px 5px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
background-color: #FFFFFA;
}

.btn-secondary1:hover {
  border: 3px solid #FF9626;

}

.active1 {
  border: 3px solid #FF9626;
  color: #FF9626 !important;
  font-weight: bold;
  
}

.chart-p {
  font-size: .6875rem;
  color: #000000;
  font-weight: 500;
  text-align: end;

  /* font-weight: bold; */
}

.chart-legend {
  line-height: 15px;
  font-size: .6875rem;
  color: #000000;


}

.car_img {
  flex-direction: row-reverse;
  justify-content: center;
}

#rented_data1:not(.product-data2) {
  text-align: end;
  /* font-family: 'sans-serif'; */

}
.product-data1,
.product-data2
{
font-size: 1.0625rem;
}
.product-data2 {
  justify-content: flex-end;
}

#rented_data2 {
  text-align: end;
  height: 84px;

}

.img-car-avaliable img {
  width: 250px;
}

#rented_data2,
#not_available_data2,
#available_data2 p {
  color: #000;
}

#rented_data2,
#not_available_data2,
#available_data2 {
  /* font-family: 'sans-serif'; */

}


#rented_data2 p:hover {
  color: #FF9626;

}

.btn-link {
  color: #000;

}

.btn-link:hover {
  color: unset;
  text-decoration: none;
}

.maintenance {
  justify-content: space-around;
}

.rented-p {
  margin-bottom: 0px;
}

footer {
  background-color: #FF992E;
  text-align: center;
  width: 100%;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: flex-end;
  gap: 3px;
  text-align: end;
}

.legend-item span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  /* border-radius: 50%; */
}

.neonShadow {

  box-shadow: 0 0 0 0 rgb(253, 2, 2);
  animation: pulse-red 2s infinite;

}

.anm {
  padding-top: 4px;
  padding-right: 10px;
  animation: jump-shaking 2s infinite;

}

#content-wrapper {
  display: flex !important;
  height: 100vh;
}

.container-fluid {
  height: 70%;
}

.section-mainCard {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  height: 100%;
}


/* ///////////////////////////////// /// */
/* .carousel-item.animate {
  animation: fadeInAnimation 1s;
} */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ////////////////////////// */


@keyframes jump-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateY(-9px)
  }

  35% {
    transform: translateY(-9px) rotate(17deg)
  }

  55% {
    transform: translateY(-9px) rotate(-17deg)
  }

  65% {
    transform: translateY(-9px) rotate(17deg)
  }

  75% {
    transform: translateY(-9px) rotate(-17deg)
  }

  100% {
    transform: translateY(0) rotate(0)
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 3, 3, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(218, 5, 5, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media (max-width: 375px) {

  .extra-small-mobile {
    display: none;
  }

  /* .chart-buttons-img{
  display: none;

 } */
}

@media (max-width: 646px) {

  .hide-on-mobile {
    display: none;
  }

  .on-mobile {
    flex-direction: column-reverse;
    padding-top: 16px;
  }

  .on-mobile p {
    margin-left: 0px;
  }
}

@media (max-width: 786px) {
  .col-md-3 .btn {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 200px;
  }

  #rented_data2 p {
    display: inline;
  }

  #rented_data2 {
    margin-bottom: 10px;
  }

  #content-wrapper {
    height: auto;
  }
}

@media(max-width:475px) {
  #button-on-mobile {
    text-align: center;
  }
}

@media(max-width:988px) {

  /* .btn-secondary1 {
    width: 40%;
  } */



  .footer-buttons {
    padding-right: 40px;
  }
}
@media(max-height:800px) {

  #pieChart,
  #horizontal_bar{
   height: 150px !important;
  }
  .main-carousel-item.active{
margin-bottom: 0;
  }

}
@media(min-height:900px) and (min-width:1400px){

  #pieChart,
  #horizontal_bar{
   height: 220px !important;
  }
  .car_img{
    padding:.1rem ;
  }
  #cardBody{
    /* padding: 1.5rem; */

  }
   .pieChart{
    margin-bottom: 1.5rem !important;
   }
}


@media(min-height:990px) {

  footer {
    width: 100%;
    padding-bottom: 200px;
  }
  

}

@media (min-width: 993px) and (max-width: 1400px) {
  #cardBody {
    /* height: 343px; */
  }
}

/*====================================================================== account modals-media =====================================================================*/
@media (max-width: 991px) {
  .footer-buttons-row :nth-child(4) { order: -1; }
  .footer-buttons-row :nth-child(1) { order: 8; }


}



/*======================================================================  =====================================================================*/
.tabs{
  text-align: end;
}
.scroll-faq-text{
height: 200px;overflow-y: scroll; overflow-x: hidden;
direction: rtl;
}
.inner-scroll-faq-text{
  direction: ltr;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  background: #fffdfd; 
  border-radius: 8px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d68d3f; 
  border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.faq-container {
  margin: 0 auto;
  max-width: 600px;
}

.faq {
  background-color: white;
  border: 1.8px solid #ff9626;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.faq-toggle .fa-chevron-down{
  color:#39629C
}


.faq-title {
  margin: 0 20px 0 0;
  font-size: .9375rem;
  text-align: end;
}
.faq.active .faq-title{
 color :#ff9626;
 font-size: 1.1rem;
}
.faq-text {
  display: none;
  margin: 7px 0 0;
  font-size: .875rem;
  color:#39629C
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 30px;
  justify-content: center;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 4px;
  width: 30px;
}
.faq-toggle .fa-times,
.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #39629C;
  display: block;
}

.faq-toggle .fa-chevron-down {
  display: block;
}

.fa-times {
  /* background-color: #9fa4a8; */
  color: #000000;
}

/* /////////////////////////////////////////////////////////// */

@media (max-width: 992px) {
  .main-row{
    flex-direction: column-reverse;
  }
}