nav input[type="checkbox"] {
    display: none;
}

.mode-btn input[type="checkbox"]:checked+label .english {
    display: none;
}

.mode-btn input[type="checkbox"]:not(input[type="checkbox"]:checked)+label .Arabic {
    display: none;
}
:has(#switch-mode:checked) body{
    direction: rtl;
}
:has(#switch-mode:checked) .login100-form {
    text-align: start;

}
:has(#switch-mode:checked) .alert-validate::before{
    left: 17px;
}