* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/*Background color*/
body {
    font-family: cairo;
    font-weight: 400;
    height: 100vh;
    font-size: 0.8125rem;
    letter-spacing: 0.28px;
}

nav {
    background-color: rgba(255, 206, 148, 1);
}

/*form styles*/
#msform {
    text-align: right;
    position: relative;
    /* margin-top: 10px; */
}

.form-card {
    background: rgb(255, 255, 255);
    border: 1px solid #39629c9c;
    border-radius: 7px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    width: 94%;
    /* margin: 0 3% 20px 3%; */
    /*stacking fieldsets above each other*/
    position: relative;
}

.main-card {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    height: 100%;
}

#progressbar {
    display: flex;
    flex-direction: row-reverse;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hide all except first fieldset */
#msform fieldset:not(:first-of-type) {
    display: none;
}

.form-card input :not(.form-check.input) {
    border: 1px solid #FF9626;
    border-top: transparent;
    border-radius: 9px;
}


.form-card {
    display: flex;
    flex-direction: column;
    color: black;
}

/* action Buttons*/
#msform .action-button {
    width: fit-content;
    background: transparent;
    font-weight: bold;
    color: #FF9626;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}



/*Previous Buttons*/
#msform .action-button-previous {
    width: fit-content;
    background: transparent;
    font-weight: bold;
    color: #FF9626;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}


/*Dropdown List Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

    select.list-dt:focus {
        border-bottom: 2px solid skyblue;
    }

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0px;
    position: relative;
}

.card-title {
    color: #FF9626;
    text-shadow: 1px 4px 4px rgb(187 187 187 / 68%);
    font-size: 1.2rem;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 20px;
    overflow: hidden;
    color: lightgrey;
    padding-left: 0;
    text-align: center;
}

    #progressbar .active {
        color: #000000;
    }

    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 14%;
        float: right;
        position: relative;
    }

    /*Icons in the ProgressBar*/
    #progressbar #tenant:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #car:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #driver:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #add-driver:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #options:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #check:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #payment:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    /*ProgressBar before any progress*/
    #progressbar li:before {
        width: 30px;
        height: 30px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: #FFE4C6;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
    }

    /*ProgressBar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 1px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1;
    }

    #progressbar #tenant:after {
        width: 50%;
    }

    #progressbar #payment:after {
        width: 65%;
        left: 50%;
    }

    /*Color number of the step and the connector before it*/
    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #FF9626;
    }

.button-row {
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.button-card {
    width: fit-content;
}

.row-step1 {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.row-step3 {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.row-step4 {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.form-check label {
    margin-right: 30px;
}

/* .form-check input{
  
   
} */
.form-check-input[type=radio] {
    border-radius: 0%;
    width: 20px;
    height: 20px;
}

.otc {
    position: relative;
    margin: 0 auto;
}

    .otc fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

.modal-content {
    border: 3px solid #FF9626;
    border-radius: 10px;
}

.otc legend {
    margin: 0 auto 1em;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
}

input[type="number"] {
    width: 0.8599999999999999em;
    margin: 0.1em;
    font-size: 2.0em;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 0;
    color: #FF9626;
    background-color: #F7F7F7;
    border-radius: 6px;
    border-bottom-color: #A1FF9C;
    border-bottom: 2px solid #A1FF9C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 2 groups of 3 items */
input[type="number"]:nth-child(n+4) {
    order: 2;
}

.otc div::before {
    content: '';
    height: 2px;
    width: 12px;
    margin: 0 .25em;
    order: 1;
    background: #000;
    border-radius: 2px;
    opacity: .4;
}

.otc label {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* //////////////////serch-icon-style////////////////////// */
.dropdown-content {
    display: none;
    border: 1px solid #FF9626;
    border-radius: 8px;
    width: 234px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: white;
}

.dropdown-content-row {
    flex-direction: row-reverse;
}

/* ////////////////global over 3 fieldsets */
.requird-field {
    /* margin-bottom: 0px; */
    font-size: 14px;
    color: red;
    width: fit-content;
    /* display: none; */
}

.requird-field-row {
    justify-content: flex-end;
    height: 37px;
}


.form-control {
    border-radius: 8px;
    border: 1px solid #faa64d;
    border-top: none;
    height: 29px;
    resize: none;
}

.form-select {
    border-radius: 8px;
    border: 1px solid #faa64d;
    border-top: none;
    width: 200px;
}

.form-check-input {
    border-color: #39629C;
}

.personal-data {
    color: #39629C;
}

.payment-button {
    height: fit-content;
    font-weight: 700 !important;
    padding: 0px 6px !important;
}

.check-btn {
    color: #fff;
    background-color: #FF9626;
    border-color: #FF9626;
    padding: 0px 12px;
    display: inline-block;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 8px;
}

    .check-btn:hover {
        background-color: white;
        color: #FF9626;
        border-color: #FF9626;
    }

.check {
    width: 100px;
}

/* options fieldset table style */
.table-bordered thead th {
    border-bottom-width: 1px;
    border-bottom: 1px solid #FF9626;
    text-align: center;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #FF9626;
}

.table {
    color: #000000f7;
}



/* /////////////global////////////// */
.container-fluid {
    height: 80%;
}

.section-mainCard {
    height: 100%;
}

#content-wrapper {
    height: 100%;
}

#content {
    height: 100%;
}


.cancle-icon {
    width: 15px;
    height: 15px;
    margin-left: 25px;
}

.radio-style {
    padding-right: 60px;
}

.button-card {
    display: flex;
    justify-content: center;
}

/* STYLING BEFORE FOOTER WIDGET */
.before-footer-widget {
    height: 100px;
    background-image: linear-gradient(2.71deg, #FF9626 64.81%, rgba(255, 150, 38, 0.18) 153.13%);
    font-size: 0;
}

footer {
    position: fixed;
    bottom: 0%;
    z-index: -9999;
    background-color: #FF992E;
    width: 100%;
    height: 200px;
}

/* //////////////////////////////////////////////////////////// */
/* options fieldset table style */

.table {
    --bs-table-hover-bg: #fff7de;
    width: 100%;
}

.table-field-row {
    padding-left: 120px;
    padding-right: 120px;
    gap: 3rem
}

.table-bordered thead th {
    border-bottom-width: 1px;
    text-align: center;
    font-weight: 400;
}

/* .table-bordered{
   width:90%; 
} */
.table-bordered > :not(caption) > * > * {
    border-width: 0px 0px;
}

.tabel-data-checkbox-td {
    display: flex;
    justify-content: flex-end;
    gap: 11px;
    width: 100%
}

.table-bordered tr {
    border: 1px solid #ff9626a3;
}

.table-bordered td {
    border-left: 1px solid #ff9626a3;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #ff9626a3;
}

.table-bordered {
    color: #000000f7;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.value-td {
    text-align: center;
}

/* For webkit-based browsers (Chrome, Safari) */
.table-scroll {
    height: 350px;
    overflow-y: auto;
}

    .table-scroll::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    .table-scroll::-webkit-scrollbar-track {
        fill: rgba(255, 150, 38, 0.16);
        border-radius: 5px;
    }

    .table-scroll::-webkit-scrollbar-thumb {
        background: rgba(255, 150, 38, 0.40);
        border-radius: 5px;
        height: 10px;
    }

tabel-data-checkbox-td {
    padding: 5px
}

/* ///////////car///////////// */
.scrollable-content {
    overflow: hidden;
    scrollbar-gutter: stable both-edges;
    height: 350px;
}

    .scrollable-content:hover,
    .scrollable-content:active,
    .scrollable-content:focus {
        overflow-y: scroll;
    }

    .scrollable-content::-webkit-scrollbar {
        width: 0.5em;
    }

    .scrollable-content::-webkit-scrollbar-track {
        background-color: hsl(250 15% 93%);
    }

    .scrollable-content::-webkit-scrollbar-thumb {
        background-color: rgba(255, 150, 38, 0.16);
    }

        .scrollable-content::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 150, 38, 0.493);
        }

.car-catogeries {
    padding-right: 0px;
    padding-left: 30px;
    height: 350px;
    overflow-y: hidden;
}

.customized-button {
    --bs-btn-color: black;
    --bs-btn-border-color: #ff9626;
    --bs-btn-hover-color: #39629C;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #ff9626;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #39629C;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #ff9626;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #gray;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ff9626;
    --bs-gradient: none;
    width: 90%;
    font-size: 16px;
    border-radius: 10px;
    padding-top: 0;
}

.details-car-fieldset {
    padding-left: 0px;
    padding-right: 8px;
}

.icon-details-car-fieldset {
    padding-right: 20px;
    padding-left: 0px;
}

/* ///////////////////////last */
.form-control1 {
    border-radius: 8px;
    border: 1px solid #faa64d;
    height: 32px;
    width: 64px;
    resize: none;
    text-align: center;
}

.form-control2 {
    border-radius: 8px;
    border: 1px solid #faa64d;
    height: 32px;
    width: 92px;
    resize: none;
}

.requird-field-row-last {
    justify-content: flex-end;
    height: 15px;
}

.form-select-last {
    border-radius: 8px;
    border: 1px solid #faa64d;
    border-top: none;
    width: 150px;
}

.spinner-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-modal-content {
    display: flex;
    width: 240px;
    height: 179px;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #FF4D00;
    }

    25% {
        stroke: #FFA500;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #FF4D00;
        ;
    }

    100% {
        stroke: #FFA500;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

/* /////////////////////////first-field///////////////////////////////// */
.form-card1 {
    padding: 30px 22px 27px 34px;
}
/* /////////////////////////payment-field///////////////////////////////// */
.authorization {
    display: flex;
    height: 179px;
    justify-content: center;
    align-items: center;
}

.authorization-modal-content {
    width: 300px;
    height: 240px;
}

.signature-modal-content {
    width: 300px;
}

.Picsignature-modal-content {
    width: 300px;
}

.Picsignature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid rgba(255, 150, 38, 1);
    background-color: rgba(255, 150, 38, 0.08);
    padding-bottom: 20px;
}

.handsignature-modal-content {
    width: 300px;
}

.upload-container {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255, 150, 38, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 150, 38, 0.08);
}

    .upload-container:hover {
        border-color: #0787ff;
    }

.upload-icon {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-container.previewing .upload-icon,
.upload-container.previewing p {
    opacity: 0;
}
/* /////////////////////////الفحص الظاهري///////////////////////////////// */
.upload__box {
    display: flex !important;
    justify-content: flex-end;
}

.upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn-box {
    order: 1;
}

/* .upload__img-wrap {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
     
 } */
.upload_img-wrap_inner {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.upload__img-box {
    width: 79px;
    height: 97px;
    background-color: rgba(217, 217, 217, 0.32);
    display: inline-block;
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}




.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
}

.upload-container-checking {
    position: relative;
    width: 79px;
    height: 97px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.32);
}


.upload-icon {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-container.previewing .upload-icon,
.upload-container.previewing p {
    opacity: 1;
}

.CurrentReadingg_row {
    padding-bottom: .25rem;
}
.payment-col {
    gap: 5px
}

.payment-col2 {
    gap: 9px
}

.payment-col3 {
    gap: 7px
}

.title-container {
    text-align: center;
    color: #FF9626;
    position: relative;
}

.cancle-icon-dropdowen {
    left: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    top: 6px;
}

.space-row {
    height: 37px;
}

.data-container {
    font-size: 0.75rem;
    border: 1px solid #39629c9c;
    margin: 10px;
    border-radius: 8px;
}

/* /////////////////////media for the seacrh icon list on mobiles///////////////////////// */
@media (max-width:575px) {
    .dropdown-content {
        right: 50%;
        transform: translateX(-90%);
    }
}

/* ****************media****************** */

@media (max-width: 375px) {

    .extra-small-mobile {
        display: none;
    }
}

@media (max-width: 646px) {

    .hide-on-mobile {
        display: none;
    }

    .on-mobile {
        flex-direction: column-reverse;
        padding-top: 16px;
    }

        .on-mobile p {
            margin-left: 0px;
        }
}

@media(min-height:990px) {

    footer {
        width: 100%;
        padding-bottom: 240px;
    }
}


/* ////////////////******************************&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media (min-height: 740px) {

    .form-card1,
    .form-card3,
    .form-card4,
    .form-card7 {
        padding: 30px 50px 17px 12px;
    }
}

@media (max-width: 740px) {
    .table-field-row {
        padding-left: 0px;
        padding-right: 0px;
        gap: 0rem;
    }
}

@media (min-height: 890px) {


    footer {
        padding-bottom: 300px;
    }

    .form-card1,
    .form-card3,
    .form-card4,
    .form-card7 {
        padding: 40px 50px 17px 12px;
        gap: 20px
    }


    .form-card1 {
        padding: 40px 50px 17px 12px;
        gap: 25px
    }

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 15px
    }

    .table-scroll {
        height: 450px;
    }

    .car-catogeries {
        height: 450px;
    }

    .scrollable-content {
        height: 450px;
    }

    .payment-col {
        gap: 20px
    }

    .content-row {
        padding-top: 15px;
    }

    .title-row {
        padding-top: 10px;
    }
}

@media (min-height: 950px) {
    body {
        font-size: 20px;
        font-weight: 500;
    }

    .form-card1 {
        padding: 40px 50px 17px 12px;
        gap: 30px
    }

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 15px
    }

    .table-scroll {
        height: 550px;
    }

    .car-catogeries {
        height: 550px;
    }

    .scrollable-content {
        height: 550px;
    }

    .payment-col {
        gap: 15px
    }

    .content-row {
        padding-top: 20px;
    }

    .title-row {
        padding-top: 10px;
    }
}

@media (min-width:1544px) {
    .upload__img-box {
        width: 115px;
        height: 115px;
    }

    .upload-container-checking {
        width: 115px;
        height: 115px;
    }

    .CurrentReadingg_row {
        padding-bottom: 3rem;
    }
}
