@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    string url = Context.Request.Path;
    string urlhost = Context.Request.Host.Value;
    string full = urlhost + url;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = ViewData["returnUrl"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/images/Bnan/Support Image/Bnan.png">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Cairo:500,400,700" rel="stylesheet">

</head>
<body class="d-flex flex-column min-vh-100">

    @RenderBody()
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
