<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Login - Bnan</title>
    <link rel="icon" type="image/png" href="~/images/Bnan/Support Image/Bnan.png">
    <link rel="stylesheet" href="~/css/app-dark.min.css" />
    <link rel="stylesheet" href="~/css/app.min.css" />
    <link rel="stylesheet" href="~/css/icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bnan.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

</body>
</html>

<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin-bottom: auto;
        overflow:hidden;
    }


    #checkbox-signin {
        background-color: #efba25;
        border-color: #efba25;
    }

    .card-header {
        background-color: #efba25;
    }

    .btn {
        background-color: #efba25;
        color: white
    }
</style>

