@using Bnan.Core.Extensions
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer

<div class="modal" id="popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>@localizer["expiration"] <span id="countdown" class="text-danger">60</span> @localizer["seconds"].</p>
                <button type="button" class="btn btn-secondary" id="logoutBtn" data-bs-dismiss="modal">@localizer["logout"]</button>
                <button type="button" class="btn btn-primary" id="continueBtn">@localizer["continue"]</button>
            </div>
        </div>
    </div>
</div>
