

<thead>
    <tr>
        <th scope="col"class="value-tabel-header">القيمة</th>
        <th scope="col" style='border-left: 1px solid #ff9626a3;'>الاضافات</th>
    </tr>
</thead>

<tbody>

    <tr>
        <td class="text-center">
            ۱۰۰:۰۰
        </td>
        <td class="tabel-data-checkbox-td">
            <label class="Delivery-to-another-branch"
                   for="Delivery-to-another-branch">
                تسليم بفرع آخر
            </label>
            <input class="Delivery-to-another-branch-input"
                   type="checkbox" name="Additions"
                   value="Delivery-to-another-branch"
                   id="Delivery-to-another-branch">

        </td>
    </tr>
</tbody>