@model List<CrCasCarAdvantage>
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
@if (Model != null && Model.Count() > 0)
{
    <div class="col-sm-12">
        <table class="table table-bordered table-striped " id="myTable">
            <thead>
                <tr>
                    <th width="70%">
                        المميزات
                    </th>

                    <th width="30%">
                        القيمة
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                        {
                            <td>
                                @item.CrCasCarAdvantagesCodeNavigation.CrMasSupCarAdvantagesArName
                            </td>
                        }
                        else
                        {
                            <td>
                                @item.CrCasCarAdvantagesCodeNavigation.CrMasSupCarAdvantagesEnName
                            </td>
                        }

                        <td style="padding: 0 !important;">
                            <input type="text" class="form-control Features" id="Features@item.CrCasCarAdvantagesCode" data-id="@item.CrCasCarAdvantagesCode" name="Features[IndexOf(item)]" style="width:100%;border:none;" autocomplete="off" value="0" oninput="validateInput3Digit(this)" />

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}