@using Bnan.Ui.ViewModels.BS;
@model BSLayoutVM
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (Model.CarsCheckUp != null)
{
    @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
    {
        @foreach (var item in Model.CarsCheckUp)
        {
            <tr>
                <td class="text-center">
                    <textarea class="textarea_table" name="Reasons[@item.CrMasSupContractCarCheckupCode]" maxlength="50" autocomplete="off"></textarea>
                </td>
                <td class="tabel-data-checkbox-td">
                    <label class="form-check-label" for="Tires">
                            @item.CrMasSupContractCarCheckupEnName
                        </label>
                    <input class="form-check-input Settlement-input-checkbox CheckUp" type="checkbox" name="CheckUp_@item.CrMasSupContractCarCheckupCode" value="Tires" id="CheckUp_@item.CrMasSupContractCarCheckupCode">
                </td>
            </tr>
        }
    }
    else
    {
        @foreach (var item in Model.CarsCheckUp)
        {
            <tr>
                <td class="text-center">
                    <textarea class="textarea_table" name="Reasons[@item.CrMasSupContractCarCheckupCode]" maxlength="50" autocomplete="off"></textarea>
                </td>
                <td class="tabel-data-checkbox-td">
                    <label class="form-check-label" for="Tires">
                        @item.CrMasSupContractCarCheckupArName
                    </label>
                    <input class="form-check-input Settlement-input-checkbox CheckUp" type="checkbox" name="CheckUp_@item.CrMasSupContractCarCheckupCode" value="Tires" id="CheckUp_@item.CrMasSupContractCarCheckupCode">
                </td>
            </tr>
        }
    }
}
